
# compiled files
__pycache__/
*.py[cod]
*$py.class

# virtual environments
venv/
env/
.venv/
.env/

# VS Code settings
.vscode/

# Github settings
.github/

# Scratch space
scratch/

# jupyter Notebook checkpoints
.ipynb_checkpoints/

Papers/

# data files
*.tsv
*.h5
*.html
*.log

papers/
*.gv
*.dot
*.pdf
*.svg

build/
*.egg-info/

.DS_Store


# AI Agents
.aiexclude
.geminiignore
CLAUDE.md
GEMINI.md
.claude/

# temporary
iclr/
causal-pc/
*.sh
/.vscode